body {
    margin-top: 20px;
    background-color: #f6f6f7;
    font-family: "Montserrat", sans-serif;
}

footer {
    color: #676e7a;
}

table {
    color: #676e7a
}

#title-text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    color: #2b2c34;
    text-align: center;
    margin-top: 30px;
}

.metric {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    height: 64px;
    width: 64px;
    background-color: white;
    font-size: 1.5em;
    font-weight: bold;
}

.metric-box {
    margin: calc(10px + 1vw) calc(5px + 1vw) 0px calc(5px + 1vw);
}

.metric-description {
    font-size: 14px;
    display: flex;
    justify-content: center;
}

.text-container {
    padding: 10px 15px 10px 15px;
    font-size: 27px;
    background-color: white;
    border-radius: 5px;
    font-family: "Inconsolata", monospace;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.restart {
    border: 1px solid grey;
    text-align: center;
    padding: 10px;
    margin: 25px 0px 25px 0px;
    border-radius: 5px;
    display: none;
}

.restart:hover {
    border: 2px solid black;
}

#current-stats {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

#timer {
    border-radius: 50%;
    border: 5px solid green;
}

h2 {
    font-size: 32px;
    font-weight: bold;
}

main h4 {
    margin-top: 30px;
}

#messageLine {
    font-size: 20px;
    text-align: center;

}

h4 {
    text-transform: uppercase;
    font-size: 20px;
}

thead tr th:not(:first-child) {
    text-align: center;
}

th:nth-child(even) {
    display: none;

}

tbody td:nth-child(even) {
    display: none;
}

tbody tr td:not(:first-child) {
    text-align: center;
}

@media (min-width: 769px) {
    h2 {
        font-size: 43px;
    }

    .metric {
        height: 96px;
        width: 96px;
        font-size: 45px;
    }

    th:nth-child(even) {
        display: block;
    }

    tbody td:nth-child(even) {
        display: block;
    }

    #messageLine {
        font-size: 25px;
    }
}

@media (min-width: 1025px) {
    h2 {
        font-size: 63px;
    }
}